:root{
  --axis-y: -1rem;
}

@keyframes wave {0%, 100% {transform: translatey(0)}50% {transform: translatey(var(--axis-y))}}
@keyframes swirl-in-fwd{0%{transform:rotate(-540deg) scale(0);opacity:0}100%{transform:rotate(0) scale(1);opacity:1}}
@keyframes slide-in-bck-center{0%{transform:translate(0,0,360deg);opacity:0}100%{transform:translate(0,0,0);opacity:1}}
@keyframes roll-in-left{0%{transform:translateX(-800px) rotate(-540deg);opacity:0}100%{transform:translateX(0) rotate(0deg);opacity:1}}

.roll-in-left{animation:roll-in-left .5s ease-out both}
.wave {animation:wave .5s ease-in-out 1;}
.swirl-in-fwd{animation:swirl-in-fwd .5s ease-out both}
.wave-infinite{animation:wave 1.5s ease-in-out infinite}
.slide-in-bck-center{animation:slide-in-bck-center 7s cubic-bezier(.25,.46,.45,.94) both}
