@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

html,body,#root{
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgba(211, 255, 129, 0.164);
}

.main{
  min-height:100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header{
  height:fit-content;
  padding:1rem;
  margin: 2rem .5rem 2rem .5rem;

  position:relative;
  left:50%;
  transform: translateX(-50%) rotateZ(-1deg);
  width:90%;

  display:flex !important;
  flex-direction: column;
  flex:0;
  box-shadow: .5rem .5rem .5rem  rgb(0, 52, 131);
  background-color: rgb(0, 102, 255);
  color: white;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size:5vw;
}


.title{
  font-family: Fascinate, sans-serif;
  text-align: center;
  
}

.sub-title{
  text-transform: uppercase;
  font-family: "Sans Source Pro", sans-serif;
  font-size:1.85vw;
  text-align: center;
}

.title-char{
  
}

.title2{
  position: absolute;
  left:50%;
  transform: translate(-49%,3%);
  color:rgb(0, 7, 100);
  z-index:-1;
}

.sub-title-char{
  box-shadow: .2rem .2rem .05rem  rgb(33, 0, 59);
  margin:0 .1rem;
  padding: 0 .25rem;
  
  background-color: rgb(140, 0, 255);
  color: white;
}

.under-contruction{
  flex:1;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.under-contruction div:first-child{
  width:75%;
  transform: rotateZ(1deg);
  box-shadow: .2rem .2rem .05rem  rgb(173, 98, 0);
  background-color:  rgb(255, 145, 0);
  color:white;
  text-align: center;
}

.bottom{
  position:relative;
  padding:1rem;
  background-color:rgb(255, 68, 0);
  box-shadow: 0.1rem .1em .05rem  rgb(173, 0, 0);
  color:white;
  border-radius: .5rem;
  font-size:2rem;
  font-weight: 800;
  border:none;
  left:50%;
  transform: translateX(-50%);
  margin-bottom:5rem;
  display:inline;
  width:fit-content;
  cursor:pointer;
  outline: none;
  text-transform: uppercase;
}

.bottom:active{
    background-color:rgb(255, 68, 0);
    box-shadow: inset .5rem .5rem .05rem  rgb(173, 0, 0);
}